:root {
    --graydarkest: rgba(35, 35, 57, 1);
    --white: rgba(255, 255, 255, 1);
    --statusinfo: rgba(34, 195, 241, 1);
    --secondarydefault: rgba(81, 108, 247, 1);
    --statussuccess: rgba(74, 192, 111, 1);
    --primarydefault: rgba(146, 81, 247, 1);
    --graydarker: rgba(46, 46, 72, 1);
    --graydark: rgba(71, 81, 107, 1);
    --graylightest: rgba(226, 230, 238, 1);
    --graydefault: rgba(121, 129, 154, 1);
    --sociallinkedin: rgba(0, 119, 181, 1);
    --primarydark: rgba(85, 49, 167, 1);
    --primarylighter: rgba(239, 226, 249, 1);
    --primarylightest: rgba(248, 242, 252, 1);
    --graylightest-2: rgba(247, 249, 252, 1);
    --secondarylighter: rgba(225, 231, 254, 1);
    --heading-heading-1-bold-font-family: "Outfit", Helvetica;
    --heading-heading-1-bold-font-weight: 500;
    --heading-heading-1-bold-font-size: 16px;
    --heading-heading-1-bold-letter-spacing: -0.32px;
    --heading-heading-1-bold-line-height: 20px;
    --heading-heading-1-bold-font-style: normal;
    --heading-heading-2-bold-font-family: "Outfit", Helvetica;
    --heading-heading-2-bold-font-weight: 500;
    --heading-heading-2-bold-font-size: 12px;
    --heading-heading-2-bold-letter-spacing: 0.12px;
    --heading-heading-2-bold-line-height: 16px;
    --heading-heading-2-bold-font-style: normal;
    --body-caption-1-font-family: "DM Sans", Helvetica;
    --body-caption-1-font-weight: 400;
    --body-caption-1-font-size: 6px;
    --body-caption-1-letter-spacing: 0.06px;
    --body-caption-1-line-height: 8px;
    --body-caption-1-font-style: normal;
    --body-body-2-bold-font-family: "DM Sans", Helvetica;
    --body-body-2-bold-font-weight: 500;
    --body-body-2-bold-font-size: 7px;
    --body-body-2-bold-letter-spacing: 0px;
    --body-body-2-bold-line-height: 9px;
    --body-body-2-bold-font-style: normal;
    --body-body-2-font-family: "DM Sans", Helvetica;
    --body-body-2-font-weight: 400;
    --body-body-2-font-size: 7px;
    --body-body-2-letter-spacing: 0.07000000000000002px;
    --body-body-2-line-height: 9px;
    --body-body-2-font-style: normal;
    --body-body-1-bold-font-family: "DM Sans", Helvetica;
    --body-body-1-bold-font-weight: 500;
    --body-body-1-bold-font-size: 8px;
    --body-body-1-bold-letter-spacing: 0px;
    --body-body-1-bold-line-height: 10px;
    --body-body-1-bold-font-style: normal;
    --body-caption-2-font-family: "DM Sans", Helvetica;
    --body-caption-2-font-weight: 400;
    --body-caption-2-font-size: 5px;
    --body-caption-2-letter-spacing: 0.05px;
    --body-caption-2-line-height: normal;
    --body-caption-2-font-style: normal;
    --body-caption-1-bold-font-family: "DM Sans", Helvetica;
    --body-caption-1-bold-font-weight: 500;
    --body-caption-1-bold-font-size: 6px;
    --body-caption-1-bold-letter-spacing: 0px;
    --body-caption-1-bold-line-height: 8px;
    --body-caption-1-bold-font-style: normal;
    --blur-large: ;
    --shadow-sm: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
    --elevation-light: 0px 6px 24px 0px rgba(0, 0, 0, 0.04), 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
    --shadow-xs: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  }